@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.hero {
  &-container {
    background: $beige;
    display: flex;
    flex-direction: row;
    margin-top: 50px !important;
    padding: 30px !important;
    h2, p {
      margin: 0 0 10px;
    }
    p {
      font-size: 20px;
    }
  }
  &-me-container {
    @include aboveTablet() {
      width: 30%;
    }
    @include belowTablet() {
      padding-bottom: 3em;
    }
  }
  &-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include aboveTablet() {
      width: 70%;
    }
    h2 {
      font-size: 35px;
      font-weight: normal;
    }
  }
}
.me {
  @include shadow();
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}