.container {
  padding: 20px;
  margin: 0 auto;
  @include aboveIpadPro() {
    margin: 0 auto;
    width: 60%;
  }  
  @include belowIpadPro() {
    @include belowIpad() {
      @include aboveTablet() {
        width: 90% !important;
      }
      @include belowTablet() {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky-main-content {
  position: relative;
  top: 40px;
  z-index: -1;
}
.hide {
  display: none !important;
}