@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.header {
  &-container {
    .header {
      padding-top: 10px;
    }
    .sub-header {
      height: 40px;
    }
    .header, .sub-header {
      background-color: $red;
      color: white;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h1 {
      font-size: 45px;
      font-weight: normal;
      @include belowTablet() {
        font-size: 35px;
      }
    }
    h1, p {
      margin: 0 !important;
    }
  }
}